// -----------------------------
// MIXINS
// -----------------------------

.transition (@prop: all, @time: 0.5s, @ease: ease) {
    -webkit-transition: @prop @time @ease;
    -moz-transition:    @prop @time @ease;
    -ms-transition:     @prop @time @ease;
    -o-transition:      @prop @time @ease;
    transition:         @prop @time @ease;
}

.border-radius (@radius: 50px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.flex(@display: flex) {
    display: ~"-webkit-@{display}";
    display: ~"-moz-@{display}";
    display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
    display: ~"-ms-@{display}"; // IE11
    display: @display;
}
