<div class="template-footer">

        <div class="template-footer1">
            {{widget('profile', 'copyright', { 'profileType':'form', 'form':'profile'})|raw}}
        </div>

        <div class="template-footer2 flex-container">

            <div class="flex-item template-footer2__column1 col1">
                {{widget('profile', 'socialicons', {'profileType':'socialicons', 'socialicons':'profile'})|raw}}
            </div>
            <div class="flex-item template-footer2__column2 col2">
                {{widget('profile', 'email', {'profileType':'email', 'email':'profile'})|raw}}
            </div>

        </div>
</div>
